<div id="<%= dom_id response %>">
  <p>
    <strong>Form:</strong>
    <%= response.form_id %>
  </p>

  <p>
    <strong>Ai response:</strong>
    <%= response.ai_response %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= response.status %>
  </p>

</div>
